[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.14.3,<4.0"
strenum = "*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
